lightning_logs
.mypy_cache
mlruns
.venv
outputs
__pycache__
src.tar.gz
*.egg-info
*.egg
generated
*.csv
cond**.png
kaporin_cond**.png
data/raw/10k_tetmesh
data/diffusivity_100.0
*.tar.gz
downloaded
assets
*.gif
data/objs/*.npy
plots
output
multirun
ext/build
*.png